*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/PSIQ/.vs
/PSIQ/.vs/*
/PSIQ/PSIQ.WebUI/ApplicationInsights.config
/PSIQ/PSIQ.Models/PSIQ.Models.csproj.user
/PSIQ/PSIQ.DataAccess/PSIQ.DataAccess.csproj.user
/PSIQ/PSIQ.WebUI/PSIQ.WebUI.csproj.user
/PSIQ/PSIQ.WebUI/bin
/PSIQ/PSIQ.WebUI/bin/*
/PSIQ/PSIQ.WebUI/bin/Debug
/PSIQ/PSIQ.WebUI/bin/Debug/*.dll
/PSIQ/PSIQ.WebUI/bin/Release
/PSIQ/PSIQ.WebUI/obj
/PSIQ/PSIQ.WebUI/obj/*
/PSIQ/PSIQ.Models/bin
/PSIQ/PSIQ.Models/bin/*
/PSIQ/PSIQ.Models/obj
/PSIQ/PSIQ.Models/obj/*
/PSIQ/PSIQ.DataAccess/bin
/PSIQ/PSIQ.DataAccess/bin/Debug/*.dll
/PSIQ/PSIQ.DataAccess/bin/Debug/*.pdb
/PSIQ/PSIQ.DataAccess/bin/Release/*
/PSIQ/PSIQ.DataAccess/bin/Release/*.dll
/PSIQ/PSIQ.DataAccess/bin/Release/*.pdb
/PSIQ/PSIQ.DataAccess/obj
/PSIQ/PSIQ.DataAccess/obj/*
/PSIQ/PSIQ.WebUI/*.user
/PSIQ/PSIQ.Models/*.user
/PSIQ/PSIQ.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
PSIQ.DataAccess.csproj.user
*.user
.vs
PSIQ.Models.csproj.user
PSIQ/PSIQ.Models/bin/Debug/PSIQ.Models.dll
PSIQ/PSIQ.Models/bin/Debug/PSIQ.Models.dll
*.dll
*.pdb
*.cache
DocumentoPSIQ/~$PSIQ.pptx
PSIQ/PSIQ.Models/Usuario.cs
PSIQ/PSIQ.Models/Usuario.cs
PSIQ/PSIQ.Models/Usuario.cs
PSIQ/PSIQ.WebUI/Controllers/LoginController.cs
PSIQ/PSIQ.WebUI/Controllers/LoginController.cs
PSIQ/PSIQ.WebUI/Controllers/LoginPController.cs
PSIQ/PSIQ.Models/Usuario.cs
PSIQ/PSIQ.WebUI/Controllers/LoginController.cs
PSIQ/PSIQ.WebUI/Controllers/LoginController.cs
PSIQ/PSIQ.WebUI/Controllers/LoginController.cs
PSIQ/PSIQ.WebUI/Controllers/LoginPController.cs
PSIQ/PSIQ.WebUI/Views/Login/Index.cshtml
PSIQ/PSIQ.WebUI/Views/LoginP/Index.cshtml
