@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-heading", style = "font-family:Stencil Std, fantasy">Você é um terapeuta?</div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <img class="img-circle" src="@Url.Content("~/Images/terapeuta.gif")" alt="Generic placeholder image" width="140" height="140">
                    <h2 style = "font-family:Stencil Std, fantasy">Terapeuta</h2>
                    <p style="font-family:monospace">Se você é aquele que escuta e observa, aquele que carrega uma imensa esponsabilidade por ter o dom de usar a palavra e as expressões, o dom de sentir empatia, para fortalecer o proxímo, cuidar e aliviar...</p>
                    <p><a class="btn btn-default" href="@Url.Action("Index", "Login")" role="button", style = "font-family:Stencil Std, fantasy">Clique aqui »</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-heading", style = "font-family:Stencil Std, fantasy">Você é um paciente?</div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <img class="img-circle" src="@Url.Content("~/Images/paciente.jpg")" alt="Generic placeholder image" width="140" height="140">
                    <h2 style = "font-family:Stencil Std, fantasy">Paciente</h2>
                    <p style="font-family:monospace">Se você é aquele que precisa desabafar, ser escutado e compreendido, se você precisa de ajuda e entende como é importante ter alguém lhe escutando...</p>
                    <p><a class="btn btn-default" href="@Url.Action("Index", "LoginP")" role="button", style = "font-family:Stencil Std, fantasy">Clique aqui »</a></p>
                </div>
            </div>
        </div>
    </div>
</div>