@using PSIQ.Models
@model Terapeuta
@{
    Layout = string.Empty;
}

<div class="row">
    <div class="col-md-12">
        <h3>Cadastro Terapeuta</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        </div>
        div class="form-group">
        @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
    </div>

    </div>

</div>
